@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', Arial, Helvetica, sans-serif;
}

#secao {
    display: flex;
    flex-direction: column;
}

.fundo_secao {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 10vh;
    background-color: #165cce;
}

.cabecalho a {
    text-decoration: none;
    color: white;
    font-size: 20px;

}

.cabecalho a:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 700px;
    flex-wrap: wrap;
    font-weight: 600;
}

.esquerda {
    display: flex;
    width: 300px;
    margin: 10px;
}

.titulo_descricao {
    text-align: center;
    font-weight: 600;
}
.texto_descricao {
    text-align: justify;
    margin: 60px -25px;
    font-weight: 400;
}

.direita {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.botao {
    display: flex;
    justify-content: center;
}

.botao h2 a {
    font-weight: 600;
    color: white;
    text-decoration: none;
    background-color: #165cce;
    border-radius: 50px;
    padding: 20px;
    border: none;
    box-shadow: 3px 4px 8px black;
}
.botao h2 a:hover {
    background-color: #4a7fd4;
}

.direita img {
    height: 60vh;
}
.footer_copy {
    margin-top: 10vh;
}
.footer_copy h2 {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 10vh;
    background-color: #165cce;
    flex-direction: column;
}
.footer_copy a {
    text-decoration: none;
    color: #000;
}

@media (max-width:400px) {
    
    .cabecalho {
        display: flex;
        justify-content: center;
        width: 50px;
}

    .footer_copy {
        width: 400px;
    }
}

@media (max-width:430px) {
    .botao h2 a {
        font-size: 15px;
    }
    .cabecalho {
        display: flex;
        justify-content: center;
}
}
@media (max-width:500px) {
    .footer_copy h2 {
        font-size: 15px;

    }
}

@media (max-width:1150px) {
    .direita {
        display: none;
        
    }
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .cabecalho {
        height: 35vh;
        width: 100vw;
        margin-bottom: -70px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        width: 400px;
    }
    .menu a {
        text-align: center;
        padding: 17px;
    }
    .esquerda {
        width: 30vw;
        margin-left: 0vw;
    }       
}