* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

table {
    display: table;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

table thead {
    background-color: rgb(216, 216, 216);
}

table thead th {
    text-align: center;
    border: 1px solid black;
    padding: 15px 10px;
}

table tbody tr {
    height: auto;

}

table tbody tr:nth-child(odd){
    background-color: #a1dd12;
}


td, th {
    text-align: left;
    border: 1px solid black;
}

